.title-bookings {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
  }
  
  .user-details {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .bookings-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
  }
  
  .booking-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
    background-color: #fafafa;
  }
  